<title>Система управления удаленной фильтрацией Flashlight</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="/dist/common.js"></script>
<script src="/dist/styles.js"></script>
