<div class="modal fade" id="modalListDownloadFiles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-show="data">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- заголовок -->
            <div class="modal-header" id="modalLabelListDownloadFiles">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <!-- основной контент -->
            <div class="modal-body text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-7"></div>
                            <div class="col-md-5 text-right" style="margin-bottom: 10px;">
                                <button type="button" class="btn btn-primary">Скачать всё</button>
                                <button type="button" class="btn btn-default">Скачать выбранное</button>
                            </div>
                        </div>
                        <div class="col-md-12" id="field_table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
